.welcome-banner {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.welcome-banner h1 {
    margin-top: 0;
    margin-bottom: 0;
    /* center the text */
    text-align: center;
    color: #fff;
    background-color: #050045;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.welcome-banner p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    background-color: #000568;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}